* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom,  rgb(17, 0, 0), #300000);
    color: #f0f0f0;
    min-height: 100vh;
    background-color:  rgb(17, 0, 0);
  }

  header {
    text-align: center;
    padding: 60px 20px;
 
 
  }

  header h1 {
    font-family: 'Creepster', cursive;
    font-size: 4em;
    color: #ff0000;
    text-shadow: 2px 2px 4px #000;
  }

  header p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #ddd;
  }

  section {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
  }

  section h2 {
    font-family: 'Creepster', cursive;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #e60000;
  }

  section p {
    font-size: 1.1em;
    line-height: 1.6;
  }

  .footer {
    text-align: center;
    padding: 30px;
    background: #111;
    font-size: 0.9em;
    color: #888;
  }

  /* Flicker animation */
  @keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      opacity: 1;
    }
    20%, 24%, 55% {
      opacity: 0.1;
    }
  }

  .flicker {
    animation: flicker 3s infinite;
  }